<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Real VIP Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">
  <h1>🔥 REAL VIP SHOP</h1>
  <p class="sub">FF REAL PRODUCTS</p>

  <div class="card">
    <h2>💎 PAID PRODUCTS</h2>
    <div id="paid"></div>
  </div>

  <div class="card">
    <h2>🎁 FREE PRODUCTS</h2>
    <div id="free"></div>
  </div>

  <div class="card">
    <h2>📢 COMMUNITY</h2>
    <button onclick="openMain()">Join Channel</button>
    <button onclick="openMain()">Join Group</button>
  </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>